/* Empty. Add your own CSS if you like */

.bar-stable {
  background: #D6250A;
  color: white;
}
.insert-enter {
  -webkit-transform: scale(0);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out-cubic;
  -webkit-transition-duration: 400ms;
}
.insert-enter.insert-enter-active {
  -webkit-transform: scale(1);
}
.scroll-content{
    background-color: whitesmoke;
}
/*.bar.bar-assertive {
    border-color: #993333;
    background-color: #993333;
    background-image: linear-gradient(0deg, #993333, #993333 50%, transparent 50%);
    color: #fff;
}*/
