<ion-view view-title="City Grade">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="right">
            <md-button aria-label="menu" id="focusItem" class="md-fab md-warn" on-tap="openFilter()">
                <img src="images/food_icon.svg" style="width: 2em;margin-top: 26%;">
            </md-button>
        </ion-nav-buttons>
        <ion-nav-buttons side="left">
            <md-button style="padding: 0;margin: 0;" on-tap="checkCurrentRepeat('location')" layout="row">
                home
            </md-button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
        <form name='searchByText'>
            <div layout="row" layout-align="space-between center">
                <div flex="15">
                    <md-menu flex>
                        <button on-tap="$mdOpenMenu($event)" class="button" style="background-color: transparent;border: 0;">
                            <i class="icon ion-navicon-round placeholder-icon" style="font-size: 31px;color: #e42012;"></i>
                        </button>
                        <md-menu-content width="6">
                            <md-menu-item>
                                <div layout="row" layout-align="space-between center">
                                    <md-button style="text-align: left;" flex="70" on-tap="setSearchInput('Name')">
                                        <md-icon style="margin: 0;padding: 0;margin-top: -11px;font-size: 22px;color: #e42012;" md-menu-align-target class="icon ion-android-restaurant placeholder-icon"></md-icon>
                                        Restaurant Name
                                    </md-button>
                                    <label flex>
                                        <i style="font-size: 1.5em;color:#e42012;" ng-if="searchInputType === 'Name'" class="icon ion-checkmark-circled placeholder-icon"> </i>
                                    </label>
                                </div>
                            </md-menu-item>
                            <md-menu-item>
                                <div layout="row">
                                    <md-button style="text-align: left;" flex="70" on-tap="setSearchInput('Phone #')">
                                        <md-icon style="margin: 0;padding: 0;margin-top: -11px;font-size: 22px;color: #e42012;" md-menu-align-target class="icon ion-ios-telephone placeholder-icon"></md-icon>
                                        Restaurant Phone #
                                    </md-button>
                                    <label flex>
                                        <i style="font-size: 1.5em;color:#e42012;" ng-if="searchInputType === 'Phone #'" class="icon ion-checkmark-circled placeholder-icon"> </i>
                                    </label>
                                </div>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div flex class="list list-inset" style="margin-bottom: 5px;padding-top: 0;margin-top: 0;">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input required type="text" name="input" ng-model="SearchByInput" placeholder="Search by Restaurant {{searchInputType}}">
                    </label>
                </div>
                <div flex="15" style="margin-left: 10px;">
                    <button on-tap="inputSearch(SearchByInput, searchInputType)" class="button button-positive" ng-disabled="searchByText.$invalid">
                        <i class="icon ion-search placeholder-icon" style="font-size: 31px;color: white;"></i>
                    </button>
                </div>
            </div>
        </form>
        <div>
            <div on-tap="openSingleRestaurant(restaurant)" ng-show="restaurant.length !== 0 && showCurrentRepeat === 'location'" ng-repeat="restaurant in restaurantsArr track by $index | orderBy: 'restaurant[0].score'" ng-animate="'animate'">
                <basic-card></basic-card>
            </div>
            <div on-tap="openSingleRestaurant(restaurant)" ng-show="restaurantsByFilter && showCurrentRepeat === 'filter'" ng-repeat="restaurant in restaurantsByFilter | orderBy: 'score'">
                <basic-card></basic-card>
            </div>
        </div>
        <!-- walkthough <section></section> -->
        <!-- <walkthrough
            is-round=true
            walkthrough-type="transparency"
            focus-element-id="focusItem"
            icon="arrow"
            main-caption="click here to filter by cusine type!"
            is-active="true"
            use-button=true>
        </walkthrough> -->
    </ion-content>
</ion-view>
