<ion-modal-view>
	 <ion-header-bar align-title="center" class="bar-positive">
	  <div class="buttons">
	  </div>
	  <h1 class="title">Filter</h1>
	  <div class="buttons">
	    <button class="button" ng-click="closeFilter()">Close</button>
	  </div>
	</ion-header-bar>
  <ion-content class="padding">
    <md-card  ng-repeat="cuisine in cuisines" ng-click="getLocationsByCuisine(cuisine)">
    	<h5>{{cuisine}}</h5>
			<img ng-src="images/{{cuisine}}.jpeg">
    </md-card>
  </ion-content>
</ion-modal-view>
