<ion-view view-title="Grades">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body" ng-if="gradeInfo.length !== 0" ng-repeat = "restaurant in restaurantsArr | orderBy: '-data.length'">

          <h2>{{restaurant.restaurantInfo.name}}</h2>

        <div ng-repeat="violation in restaurant.gradeInfo | orderBy: '-inspection_date'">

          {{violation.inspection_date | date: 'mediumDate'}}<li>{{violation.violation_description}}</li></div>
      </div>
    </div>
  </ion-content>
</ion-view>
